/*购物车*/
/*图片*/
.null{
    width: 100%;
    padding: 36px 0px;
    font-size: 100px;
}
.null span{
    color:#666666;
}
/*商品展示*/
.pro{
    line-height: 59px;
}
.pro span{
    padding: 20px 50px;
}
.pro span:nth-child(1){
    background-color: white;
}
.pro span:nth-child(1) a{
    color: black;   
}
.pro span:nth-child(2){
    background-color: #FE5722;
    margin-left: -4px;
}
.pro span:nth-child(2) a{
    color: white;
}