/*首页*/
body{
    overflow-x: hidden;
}
.changeColor{
    background-color:#F46000;
    transition: background;
    transition-duration: 4s;
}
.recover{
    background:none;
    transition: background;
    transition-duration: 3s;
}
body{
    background-color: #eee;
}
.h-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 150px;
}
/*固定头部*/
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
    padding: 10px 10px;
}
.header span{
    line-height: 30px;
}
.header .logo{
    font-size: 30px;
}
.header div{
    border-radius: 5px;
    padding-left: 20px;
    width: 70%;
    background-color: white;
    color: gray;
}
.header div input{
    width: 90%;
    border:  none;
    line-height: 30px;
}
.header a{
    color: white;
}
/*轮播图*/
.carousel ol{
    text-align: right;
}
.carousel .carousel-inner .item img{
    width: 100%;
}
@media (min-width:1000px){
    .carousel .carousel-inner .item img{
        height: 500px;
    }
}
/*商城早报*/
.news{
    text-align: center;
    width: 100vw;
    padding: 10px;
    background-color: white;
}
.news span{
    font-size: 12px;
}
.news .title{
    font-weight: bold;
    color: #F46000;
    padding-right: 20px;
}
/*内容*/
.h-content section{
    width: 100%;
    margin-top: 15px;
}
.h-content .part-one img{
    width: 49vw;
    height: auto;
}
.pull-right .top{
    margin-bottom: 6px;
}
.banner{
    width: 100vw;
}
.banner img{
    width: 100%;
}
/*明星单品*/
.item{
    background-color: white;
}
.banner h1{
    font-size: 24px;
    padding: 10px 0 0 10px;
}
.h-content section .tel{
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.h-content section .tel figure{
    width: 49vw;
}
.tel figcaption{
    font-size: 14px;
    padding: 10px 20px;
    line-height: 10px;
}
.tel figcaption p:nth-child(2){
    color: gray;
}
.tel figcaption p:nth-child(3){
    color: red;
}
.h-content section .more{
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}
/*米家智能*/
.h-content section .jiaju figcaption{
   width: 107px;
   height: 107px;
   margin: 0 auto;
   margin-top: 35px;
   padding: 0;
}
.h-content section .jiaju figcaption p{
    line-height: 15px;
}
/*更多*/
.h-content section .more-tel figure{
    width: 49.5vw;
    margin-bottom: 2px;
}
/*猜你喜欢*/
.enjoy{
    width: 100vw;  
}
.enjoy div{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}
.enjoy .enjoy-top{
    color: #F46000;
}
.enjoy .enjoy-bottom{
    color: gray;
    font-size: 14px;
}
.enjoy .enjoy-bottom span::before{
    display: block;
    width: 40%;
    height: 1px;
    content: "";
    background-color: #ccc;
    position: relative;
    right: 15%;
}
.enjoy .enjoy-bottom span::after{
    display: block;
    width: 40%;
    height: 1px;
    content: "";
    background-color: #ccc;
    position: relative;
    left: 75%;
}
/*智能生活*/
/*长假游玩*/
#price{
    color: red;
}
.main{
    width: 100vw;
    background-color: white;
}
.main figcaption{
    font-size: 14px;
}
.main figcaption span{
    padding: 10px 10px;
}
.main .tel figure:nth-child(odd){
    width: 65%;
}
.main .tel figure:nth-child(even){
    width: 35%;
}
.main .tel figure img{
    height: 20vh;
}